@page "/"

<h1>Welcome to James' Chess Project</h1>

<p>This is a small personal prject to help to imnprove my dotNet skill and experience as well as giving me some more exposure to front end development</p>